

.home-heading{
    color: var(--primary-color);

}


.card-container{
    width: 100%;
    flex-wrap: wrap;
}

.card{
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.367);
    background-color: var(--card-color);
    border-radius: 0.5rem;
    width: 20.5rem;
    height: 33vh;
    cursor: pointer;
}

.program-img{
    width: 19.6rem;
    height: 20vh;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
}

.card-text{
    display: block;
    font-size: 16px;
    color: var(--anchor-tag-color);
    margin: 0.3rem;
}

.card:hover{
    transition: .5s;
    box-shadow: 5px 5px 5px  rgb(140, 140, 148);
}
