.App {
  text-align: center;
  height: 100vh;
}

:root{
  --primary-color :rgba(11, 140, 29, 0.998);
  --secondary-color :black;
  --anchor-tag-color :white;
  --card-color :rgba(12, 39, 21, 0.83);
}

button{
  background: none;
  border: none;
  cursor: pointer;
}

Link{
  cursor: pointer;
}

.App {
  text-align: center;
}